{% extends 'shablon.html' %}

{% block content %}
        {% if not products %}
            <h2>НЕТ ПРОДУКТОВ</h2>
        {% endif  %}
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Категория</th>
                      <th scope="col">Name</th>
                      <th scope="col">Цена</th>

                    </tr>
                  </thead>
                 {% for product in products %}
                  <tbody>
                    <tr>
                      <td>{{ product.get_category_display }}</td>
                      <td><a href="{% url 'product' product.category %}">{{ product.name }}</a></td>
                      <td>{{ product.price }}</td>
                    </tr>
                  </tbody>
                 {% endfor %}
                </table>
{% endblock content %}
