{% extends 'shablon.html' %}

{% block content %}

<div class="d-flex justify-content-center">

  <div class="card" style="width:400px; text-align: center">
      <h4>Информация о Товаре</h4>
  <img class="card-img-top" src="" alt="">
      <div class="card-body">

          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">О товаре: {{ product.description}}</p>
          <p class="card-text">Категория: {{ product.get_category_display }}</p>
          <p class="card-text">Цена: {{ product.price }} сом</p>
          <p class="card-text">Осталось: {{ product.quantity }} штук</p>
          <a href="{% url 'product_update' product.id %}"><button type="button" class="btn btn-warning">Редактировать!</button></a>
          <a href="{% url 'product_delete' product.id %}"><button type="button" class="btn btn-secondary">Удаление!</button></a>
      </div>
 </div>

</div>


{% endblock content %}
