{% extends 'shablon.html' %}

{% block content %}
    </br>
    <body style="background-size: 100%; background-image: url('https://image.freepik.com/free-vector/shopping-online-on-website-online-store-shop-concept_100456-95.jpg') ">
    <div class="container" style="max-width: 500px; color: aliceblue">
        {% if not products %}
            <h2>НЕТ ПРОДУКТОВ</h2>
    {% else %}
        {% include "partial/search_form.html" %}
         {% endif %}
            {% for product in products %}
                <div class="list-group list-group-item list-group-item-action">
                  <a href="{% url 'product' product.id %}" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Name: {{ product.name }}</h5>
                      <small class="text-muted">Количество: {{ product.quantity }} шт</small>
                    </div>
                    <p class="mb-1">Категория: {{ product.category }}</p>
                    <p class="mb-1">Цена: {{ product.price }}</p></a>
                          <form action="{% url 'create_basket' product.pk %}" method="post">
                             <div class="container">{% include "form.html" with button_text="Добавить в Корзину!" %}</div>
                          </form>
                </div>
                </br>
            {% endfor %}
    </div>
       {% if is_paginated %}
            {% include 'partial/paginate.html' %}
        {% endif %}


{% endblock content %}
