<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Info about tasks</h1>
    <br>
    <p>Description: {{ list.description }}</p>
    <p>Detailed_description: {{ list.detailed_description }}</p>
    <p>Status: {{ list.status }}</p>
    <p>Deadline: {{ list.updated_at }}</p>

    <a href="{% url 'index_tasks' %}">To the main</a>
</body>
</html>